.temp-heading {
  font-size: 18px;
}
.bar-graph {
  margin-top: 20px;
  display: inline-table;
  font-size: 30px;
}
.bar-graph .bar-graph-row {
  display: table-row;
}
.bar-graph .bar-graph-cell1 {
  display: table-cell;
  width: 160px;
}
.bar-graph .bar-graph-cell2 {
  display: table-cell;
  min-width: 720px;
}
.bar-graph .bars {
  height: 160px;
}
.bar-graph .bars li {
  background-color: darkturquoise;
  border-radius: 1px 1px 0 0;
  /* Remember vendor prefixes */
  display: inline-block;
  list-style-type: none;
  /* Large desktops and laptops */
  /* Landscape tablets and medium desktops */
  /* Portrait tablets and small desktops */
  /* Landscape phones and portrait tablets */
  /* Portrait phones and smaller */
  position: relative;
  text-align: center;
  vertical-align: bottom;
}
@media (min-width: 1200px) {
  .bar-graph .bars li {
    min-width: 14px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .bar-graph .bars li {
    min-width: 14px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .bar-graph .bars li {
    min-width: 20px;
  }
}
@media (max-width: 767px) {
  .bar-graph .bars li {
    min-width: 20px;
  }
}
@media (max-width: 480px) {
  .bar-graph .bars li {
    min-width: 20px;
  }
}
.bar-graph .y-axis-labels {
  display: inline-table;
  height: 160px;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 2px;
}
.bar-graph .y-axis-labels .label-row {
  display: table-row;
  height: 33.33%;
  margin: 0;
}
.bar-graph .y-axis-labels .label-cell {
  display: table-cell;
  width: 160px;
}
.bar-graph .y-axis-labels .max {
  vertical-align: top;
  display: table-cell;
}
.bar-graph .y-axis-labels .median {
  vertical-align: middle;
  display: table-cell;
}
.bar-graph .y-axis-labels .min {
  vertical-align: bottom;
  display: table-cell;
}
.bar-graph .x-axis-label {
  padding-left: 10%;
  height: 20px;
}
