<div class="comment-list" ng-repeat="comment in comments">
    <h4 class="user">{{comment.user}}</h4> on {{ comment.timestamp | date:"MMMM d',' yyyy 'at' h:mm a"}}
    <div class="panel panel-default">
        <div class="panel-body" ng-bind-html="comment.text"></div>
    </div>
 </div>
  <form novalidate class="css-form">
      <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="text" class="form-control" id="nameInput" ng-model="comment.user" required />
      </div>
      <div class="form-group">
          <label>Comment</label>
          <textarea ui-tinymce class="form-control" ng-model="comment.text" required></textarea>
      </div>
      <div class="form-group">
          <input type="submit" ng-click="update(comment)" value="Submit" />
      </div>
  </form>
  {{errorMessage}}
  
    
